<div class="yelBg">
<div class="container">
  <div class="text-center loginForm slideUp">
<img class="logohome flipInY cenImage" src="/assets/pmlogo1.png" alt="logo">
<br /><br />
<form role="form">
  <div class="form-group">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><br />
  <%= f.email_field :email, autofocus: true, :placeholder => "email", :class => "form-control" %></div>

  <div><% if @validatable %><% end %><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder => "password (8 characters minimum)", :class => "form-control" %></div>

  <div><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "password confirmation", :class => "form-control" %></div>
    <br />
  <div><%= f.submit "Sign up", :class => "btn btn-default" %></div>
<% end %>
<br />
<%= render "devise/shared/links" %>

</div>

</form>

</div>

</div>