<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<p>LISTINGS/index.html.erb</p>
<div class="container">
<% @listings.each do |l| %>
        
<%= l.bAddress1 %> #<%= l.uNumber %> <br/>
<%= l.bCity %><br/>
<%= l.bState %> <%= l.bZip %>

<li>Type: <%= l.uType %></li>
<li># of Bedrooms = <%= l.uBedroomCount %> </li>
<li># of Bathrooms = <%= l.uBathroomCount %> </li>
<li>Square Footage = <%= l.uSquareFootage %> </li>
<li> Description = <%= l.uDescription %> </li>
<li>Images = <%= image_tag l.unitimage.url(:original) %> </li>
<hr>
<% end %>
</div>


