<%= button_to 'create a new building', new_building_path %>
<%= button_to 'create new feature for a building', new_building_feature_path %>
<br/>
<hr>
<br />


<% @buildings.each do |b| %> 
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
    <%= button_to 'edit ', edit_building_path(b), :class => "btn btn-default" %>
        </div>
        <div class="col-md-6">
    <%= button_to 'delete', b, method: :delete, :class => "btn btn-default", data: { confirm: '!!!!! Are you sure ?????' } %>
        </div><br/><br/>
    

    <%= b.bName %><br/>   
    <%= b.bAddress1 %>,
    <%= b.bAddress2 %><br /> 
    <%= b.bCity %><br />
    <%= b.bState %> <%= b.bZip %><br />
    <%= b.bPhone %><br />
    <%= b.bUnitCount %> units <br /><br />
    GPS coordinates for google maps: <br />
    <ul class="latlong"><li>Longitude <%= b.longitude %></li>
    <li>Latitude <%= b.latitude %></li></ul><br />
    created at <%= b.created_at.strftime("%b%e%l:%M %p") %> //
    last updated <%= b.updated_at.strftime("%b%e%l:%M %p") %> 

    Building Features:<br/><br>
  <% b.building_features.each do |f| %>
    <li><%= f.bfName %> </li>
      </div>
  <% end %>
  <br>
 

</div>
<br/>
<hr>
<% end %>