<%#= render 'layouts/dashboard' %>
<div class="container">
<br/>
<br/>
<button><%= link_to 'create a new building', new_building_path %></button>
<br/>
<hr>
<br />
<% @buildings.each do |b| %> 
<%= link_to b.bName, b %><br/>   
<%= b.bAddress1 %>,
<%= b.bAddress2 %><br /> 
<%= b.bCity %><br />
<%= b.bState %> <%= b.bZip %><br />
<%= b.bPhone %><br />
<%= b.bUnitCount %> units <br /><br />
GPS coordinates for google maps: <br />
<ul><li>Longitude <%= b.longitude %></li>
<li>Latitude <%= b.latitude %></li></ul><br />
created at <%= b.created_at.strftime("%b%e%l:%M %p") %> //
last updated <%= b.updated_at.strftime("%b%e%l:%M %p") %><br /><br />
<%= link_to 'Edit / ', edit_building_path(b) %>
<%= link_to 'Delete', b, method: :delete, data: { confirm: 'Are you sure?' } %>
<% b.building_features.each do |f| %>
<li><%= f.bfName %> </li>





<% end %>
<hr>



<% end %>

<%#= render 'layouts/unitlist' %>