<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p>buildings/index.html.erb</p>
<div class="container">
<% @buildings.each do |b| %>
<% b.units.each do |u| %>
        
<%= b.bAddress1 %> #<%= u.uNumber %><br/>
<%= b.bCity %><br/>
<%= b.bState %> <%= b.bZip %>

<li>Type: <%= u.uType %></li>
<li># of Bedrooms = <%= u.uBedroomCount %> </li>
<li># of Bathrooms = <%= u.uBathroomCount %> </li>
<li>Square Footage = <%= u.uSquareFootage %> </li>
<% b.building_features.each do |f| %>
<li><%= f.bfName %> </li>


<% end %>
<hr>


<% end %>
<% end %>

</div>