<h1>Buildings#show</h1>
<%= @building.bName %>
<%= @building.full_street_address %>
<hr>
<ul>
<% @units.each do |unit| %>
  <li><%= link_to unit.uType, unit %></li>
  <li><%= unit.uBedroomCount %> Bedrooms</li>
  <li><%= unit.uDescription %> </li>
  <hr>
  <% end %>
</ul>