<div id="home"></div>
<%= render 'layouts/nav' %>





<h2 class="margintest">&nbsp;<br /><br /></div>

  <br /><br />
  <div class="container">

    <%= render 'layouts/listingslider' %>

    <%= number_to_currency @unit.uPrice %>
    <%= @unit.uBedroomCount %> Bedroom <%= @unit.uType %>
    <%= @unit.building.bCity %>

    <div class="col-xs-4 unitdetails">
      <span class="mytitle">Price: </span>   
      <span class="bold">$<%= @unit.uPrice %></span>
           <span class="mytitle">Bedrooms: </span>
            <span class="bold"><%= @unit.uBedroomCount %></span><br />
           <span class="mytitle">Bathrooms: </span>
            <span class="bold"><%= @unit.uBathroomCount %></span><br />
           <span class="mytitle">Square Footage: </span>
            <span class="bold"><%= @unit.uSquareFootage %></span> <br />

            <span class="mytitle">Date Listed: </span>
            <span class="bold"><%= @unit.created_at.strftime("%b%e%l:%M %p") %></span> <br />
          <span class="mytitle">Description: </span>
            <span class="bold"><%= @unit.uDescription %></span>
       
        </div>



<%#= link_to image_tag(@unitimage.image.url(:med)), @unitimage.image.url %>