<div id="home"></div>
  <div class="container unitshow">

      <div class="headtitlelist">
        <h1 class="pull-left margleft"><%= @unit.building.bName %></h1>
        <h1 class="pull-right">$<%= @unit.uPrice %> / <%= @unit.uSquareFootage %> Square Feet</h1>
      </div>

    <div class="row unitshowtwo">

      <div class="col-xs-5 text-right">
        <div class="unitimageblock text-center">


          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag @unit.unitimage.url(:medium), :class => "showimage" %>
                </div>
                <div class="item">
                  <%= image_tag @unit.unitimage2.url(:medium), :class => "showimage" %>
                </div>
                <div class="item">
                  <%= image_tag @unit.unitimage3.url(:medium), :class => "showimage" %>
                </div>
                
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa carar fa-2x fa-angle-left"></i>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
               <i class="fa carar fa-2x fa-angle-right"></i>
              </a>
            </div>

   <!--        <div class="row">
            <div class="col-xs-6">
              <%#= image_tag @unit.unitimage.url(:square), :class => "showimage" %>
              <%#= image_tag @unit.unitimage2.url(:square), :class => "showimage" %>
            </div>
             <div class="col-xs-6">
              <%#= image_tag @unit.unitimage3.url(:square), :class => "showimage" %>
              <%#= image_tag @unit.unitimage4.url(:square), :class => "showimage" %>
            </div>

          </div> -->
        
        
        <%#= image_tag @unit.unitimage2.url(:thumb) %>
        </div>
      </div>

      <div class="col-xs-7">

        <div class="unitdescriptionblock">

          <div class="row">

            <div class="col-xs-6">
              <%= @unit.building.bName %>
              <%= @unit.building.bAddress1 %><br />
              <%= @unit.building.bCity %>
              <%= @unit.building.bState %>
              <%= @unit.building.bZip%>
            </div>
            <div class="col-xs-6">
              $<%= @unit.uPrice %><br />
              <%= @unit.uSquareFootage %> Square Feet<br />
              <%= @unit.uBedroomCount %> Bedroom <br />
              <%= @unit.uBathroomCount %> Bath 
    
            </div>
          </div>

          <div class="unitdesc">
              <%= @unit.uDescription %>
          </div>
              
         <!--      <button class="btn btn-default btn-primary">Request more info</button> -->
          <div class="row listedat">

          <div class="pull-left">
                <button class="btn btn-default btn-primary">Submit an application</button>
                <%#= button_to listings_path, :class => "btn btn-default btn-primary btn-yel" %>

                 <a href="/listings"><button class="btn btn-default btn-primary btn-yel">All Listings</button></a>
          </div>
            <div class="pull-right daytimebtn">
          <span class="mytitle">Date Listed: </span>
          <span class="bold"><%= @unit.created_at.strftime("%b%e%l:%M %p") %></span> <br />
          </div>

      </div>

    </div>

  </div>





<%#= link_to image_tag(@unitimage.image.url(:med)), @unitimage.image.url %>