  <nav class="dashNavBar navbar-default" role="navigation" style="border-radius:none !important">
  	  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
 
    </div>
     <ul class="pull-right navbar-right navLinks">
        <% if current_user %>
            Logged in as <%= current_user.email %>&nbsp &nbsp &nbsp &nbsp &nbsp
            <%= link_to "Log Out", logout_path, :class => "viewdashlink" %> &nbsp &nbsp &nbsp &nbsp
        <% end %>
      </ul>
</div>
</div>
</nav>

<% if current_user %>

 <a href="/">
<div class="adminhead">

<img class="downimgt" src="/assets/pmlogo1.png" alt="logo">

</div>
</a>

<h2 class="myadmintxt text-center"><a href="/">Admin Dashboard</a></h2>

<div class="text-center">
<div class="btn-group dashbtn">
  <button type="button" id="unitbtn" class="btn btn-default btn-primary">Units</button>
  <button type="button" id="buildbtn" class="btn btn-default btn-primary">Buildings</button>
</div>
</div>
<div class="container">
<div class="dashhead text-center">
	  <%= render 'buildings/newbuildingmodal' %>
  <%= render 'units/modaltest' %>

</div> 
</div>


<div class="dashlist">
<div class="altdashView">
<div class="container">
	<div class="row titleRow">

		<div class="col-xs-3">
			Building Name
		</div>
		<div class="col-xs-4">
			Address
		</div>
		<div class="col-xs-2">

		</div>
		<div class="col-xs-1">
			Units
		</div>
		<div class="col-xs-2">
			Phone
		</div>
	</div>
	<% @buildings.each do |b| %>
	<div class="row contentRow">

		<div class="col-xs-3">
			<%= b.bName %>
		</div>
		<div class="col-xs-4">
			<%= b.bAddress1 %>
		</div>
		<div class="col-xs-2">
	
		</div>
		<div class="col-xs-1">
			<%= b.bUnitCount %>
		</div>
		<div class="col-xs-2">
			<%#= link_to  %>
			<%= b.bPhone %>
		</div>
	</div>
<% end %>
</div>
</div>

<div class="altdashViewU">
<div class="container">
	<div class="row titleRow">

		<div class="col-xs-2">
			Building Name
		</div>
		<div class="col-xs-1">
			Unit
		</div>
		<div class="col-xs-1">
			Type
		</div>
		<div class="col-xs-1">
			Bed
		</div>
		<div class="col-xs-1">
			Bath
		</div>
		<div class="col-xs-1">
			Sq Ft
		</div>
		<div class="col-xs-1">
			Rent
		</div>
		<div class="col-xs-1">
			Vacant
		</div>
		<div class="col-xs-1">
			View
		</div>
		<div class="col-xs-1 editcol">
			Edit
		</div>
			<div class="col-xs-1 pull-right">
			Delete
		</div>
	</div>
	<% @buildings.each do |b| %>
	<% b.units.each do |u| %>
	<!-- <a href="#" class="mylistingimg"><%#= image_tag u.unitimage.url(:thumb) %></a>
      <a href="#" class="mylistingimg"><%#= image_tag u.unitimage2.url(:thumb) %></a>
      <a href="#" class="mylistingimg"><%#= image_tag u.unitimage3.url(:thumb) %></a>
      <a href="#" class="mylistingimg"><%#= image_tag u.unitimage4.url(:thumb) %></a> -->
	<div class="row contentRow">

		<div class="col-xs-2">
			<%= b.bName %>
		</div>
		<div class="col-xs-1">
			<%= u.uNumber %>
		</div>
		<div class="col-xs-1">
			<%= u.uType %>
		</div>
		<div class="col-xs-1">
			<%= u.uBedroomCount %>
		</div>
		<div class="col-xs-1">
			<%= u.uBathroomCount %>
		</div>
		<div class="col-xs-1">
			<%= u.uSquareFootage %>
		</div>
		<div class="col-xs-1">
			$<%= u.uPrice %>
		</div>
		<div class="col-xs-1">
			<% if u.uListing= "true" %>
			<%= 'Yes' %>
			<% else %>
			<%= 'No' %>
			<% end %>
		</div>
		<div class="col-xs-1">
			<a class="details" href="#">
				<%= button_to "View", unit_path(u), method: :get, :class => "viewdeets", method: :get, :class => "viewbutn" %>
			</a>
		</div>
		<div class="col-xs-1">
				<%= button_to "edit", edit_unit_path(u.id), method: :get, :class => "editbutn" %>
		</div>
		<div class="col-xs-1">
				<%= button_to "delete", unit_path(u.id), method: :delete, :class => "deletebutn" %>
		</div>
	</div>
<% end %>
<% end %>

<br />


</div>
</div>

<% end %>

