<div class="container listingcontainer">
  <br />
  <% @buildings.each do |b| %>
  <% b.units.each do |u| %>

  <div class="unitfeat">

 <div id="carousel-example-generic" class="carousel slide carousel-example-generic-two" data-ride="carousel">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag u.unitimage.url(:medium), :class => "showimage" %>
                </div>
                <div class="item">
                  <%= image_tag u.unitimage2.url(:medium), :class => "showimage" %>
                </div>
                <div class="item">
                  <%= image_tag u.unitimage3.url(:medium), :class => "showimage" %>
                </div>
                
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa carary fa-2x fa-arrow-circle-left"></i>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
               <i class="fa carary fa-2x fa-arrow-circle-right"></i>
              </a>
            </div>



    <div class="rprice">$ <%= u.uPrice %>0 / month</div>

    <div class="text-center infotext">
      <%= u.uBedroomCount %> Bed <%= u.uBathroomCount %> Bath <%= u.uType %> 
      <%= u.uSquareFootage %> Sq Ft  <br /><br />

      <%= b.bAddress1 %> #<%= u.uNumber %>, 
      <%= b.bCity %>
      <%= b.bState %> <%= b.bZip %><br/>
    </div>

    <div class="desc">

      Description: <%= u.uDescription %>

    </div><br />
    <%#= render 'units/showmodal' %>
    <button class="my-btn">Find out more</button>

  </div>

  <hr>


  <% end %>
  <% end %>

</div>


